body {
    font-family: sans-serif;
}

nav  {display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: chartreuse;
padding: 4px;
border-radius: 5px;

}

nav a:hover {
    transition: 0.3s;
    transform: scale(2);
    color: black; 


}

nav a {
margin-top: 5px;
text-decoration: none;
transition: 0.3s;
font-size: 150%;
}

footer img {width: 50px;
height: 50px;
border-radius: 5px;}

footer {
border-top: 2px solid green;
padding: 20px;
display: flex;
justify-content: space-between}

footer div {font-size: 20px;
margin-left: 30px;
;}

footer .center {display: flex;
flex-direction: column;}

footer div h2 {text-align: center;}

.center a {margin-top: 10px;
text-decoration: none;
color: gray;}






img {
height: 179px;
width: 280px;}

.catalog img {
height: 211px;
width: 280px;
display:flex;
justify-content: center;}

.catalog{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: 0.5s;
    padding-left: 10%;
    padding-right: 10%;

}
.catalog a:hover {
 background: linear-gradient(to bottom right, blue, pink);
 color: white;
 transition: 0.4s;
 border: 3px solid white;}
 
.catalog article:hover {
height: 500px;
object-fit: cover;
width: fit-content(400px);
transition: 0.5s;
z-index: 2;
box-shadow: 5px 5px 5px;

}

.catalog a {
    padding: 8px 15px 8px 15px;
    background-color: white;
    text-decoration:none;
    font-size: 40px;
    margin: 20px;
    border: 3px solid gray;
    
    
}

.catalog article{
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.5s;

}
.catalog article img{
    object-fit: cover;
    width: 90%;
    height: 250px;
    padding: 5%;
    transition: 2s;

}

.catalog article h2 {
    opacity: 0;
    color: white;

}
.catalog article:hover h2 {opacity: 1;
transition: 0.5s;}

.w {text-align: center;}
